<section class="member">
  {% if site.data.corp_members.size > 0 %}
  <script type="text/javascript">
    var images = [{% for img in site.data.corp_members%}"{{ img.image }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
    var descs = [{% for img in site.data.corp_members%}"{{ img.description }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
    var urls = [{% for img in site.data.corp_members%}"{{ img.url }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
    var names = [{% for img in site.data.corp_members%}"{{ img.name }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
  </script>
  <div class="member-wrapper">
    <section class="member-list">
      <h2 class="standout-header">Corporate Members</h2>
      <div>
        <script type="text/javascript">
            var randomIndexUsed = [];
            var counter = 0;
            var numberOfImages = 6;
            while (counter < numberOfImages)
            {
                var randomIndex;
                var img;

                randomIndex = Math.floor(Math.random() * images.length);

                if (randomIndexUsed.indexOf(randomIndex) == "-1")
                {
                    document.write('<a href="'+ urls[randomIndex] + '" class="member-logo"><img src="' + images[randomIndex] + '" alt="image" /></a>');
                    
                    randomIndexUsed.push(randomIndex);

                    counter++;
                }
            }
        </script>
      </div>
      <a href="" class="callout-link">See all members</a>
    </section>
    <section class="member-spotlight">
      <script type="text/javascript">
        var randi = Math.floor(Math.random() * images.length);
        document.write('<h2 class="standout-header">Spotlight: ' + names[randi] + '</h2>');
        document.write('<a href="'+ urls[randi] + '"><img src="' + images[randi] + '" alt="image" /></a></h2>');
        //document.write('<a href="'+ urls[randi] + '"><img src="' + images[randi] + '" alt="image" /></a>');
        document.write('<p>' + descs[randi] + '</p>');
      </script>
    </section>
    <section class="member-cta">
      <button class="cta-button">Become an OWASP Member Today</button>
      <a href="#" class="callout-link">Why should you become an OWASP Foundation member?</a>
    </section>
  </div>
  {% endif %}
</section>
